@model IEnumerable<ClubConnect.Api.Models.Entidades.Socio>

@{
    ViewData["Title"] = "Index";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<form asp-controller="Socios" asp-action="Index" method="get">
    <p>
        Numero Socio: <input type="text" name="NumeroSocio" />
        DNI: <input type="text" name="Dni" />
        Nombre: <input type="text" name="Nombre" />
        Apellido: <input type="text" name="Apellido" />
        <input type="submit" value="Buscar" class="btn btn-outline-primary" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstaActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstaActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeRegistro)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Detalles</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Dar de baja</a>
            </td>
        </tr>
}
    </tbody>
</table>
